/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sell_discr { text-align: center; }
	.sell_right .button {
		float: none;
		margin: 15px auto;
		max-width: 250px;
	}
	.main_menu ul {
		display: none;
		background: #3797bf;
		position: absolute;
		width: 100%;
		margin-top: 8px;
	}
	.main_menu ul li {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_links {
		display: none;
		background: #575c60;
		vertical-align: middle;
		margin-top: 15px;
		padding: 17px;
		position: absolute;
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main_menu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
